p {
    color: red;
}

p:hover {
    color: yellow;
}

input[type="text"]:focus {
    color: red;
    background-color: blueviolet;
}

input[type="checkbox"]:checked {
    background-color: rebeccapurple;
    padding: 50px;
    ascent-override: red   ;
}