button {
    
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 10px solid blueviolet;
    background-color: rgb(221, 198, 241);
    margin: 500px;


    transition: all 1s;
}


.btn:hover {
    transform: translateY(-10px);
    background-color: blueviolet;
    color: aliceblue;
}
