.box-model {
    width: 100%;  
    height: 300px;
    border: 5px solid black;
    max-width: 600px;
    min-width: 300px;
    
}
.tevas {
    background-color: aqua;
    padding: 50px;
    margin: 50px;
}