html {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.336);
  margin: auto;
}

.socials {
  display: flex;
  margin-right: 50px;
}

.fa-brands {
  color: rgb(63, 26, 228);
  padding: 7px;
}

.h1 h1 {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.h1 {
  font-weight: bold;
}

.blue-text {
  color: rgb(63, 26, 228);
}

.form {
  width: 700px;
  margin: auto;
  margin-top: 100px;
}
