header {
  background-color: #02d4b1;
  width: 100vw;
  height: 120px;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

header > div > h1 {
  font-size: 30px;
  color: white;
  padding-top: 1rem;
}

header > div > p {
  color: rgb(158, 253, 217);
}

main > section {
  margin-top: 2rem;
  position: relative;
}

.mainbtn {
  border-color: lightgrey;
  margin: 0;
}

.mainbtn:hover {
  border-color: #02d4b1;
  color: #02d4b1;
  background-color: white;
}

.secondarybtn {
  position: absolute;
  right: 0;
  border-color: #02d4b1;
  background-color: #02d4b1;
}

.secondarybtn:hover {
  background-image: -moz-repeating-linear-gradient(#02d4b1, #655b7c, #02d4b1);
  border-color: transparent;
}

.flex-container {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  margin-bottom: 10rem;
}

.kaina {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.foto {
  height: 179.9px;
}
