header, section, footer {
    background-color: lightgrey;
}

.nav {
    display: inline;
}

.logo{
    width: 100px;
    
}

.center-text {
    text-align: center;
}

.image-size {
    width: 30%;
}

.float-left {
    float: left;
}
.text-width {
    width: 100px;
}
